<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>Zine</title>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel='stylesheet' href='{theme}style.css' />
	<link rel='stylesheet' href='{theme}wysiwyg.css' />
</head>
<body>
<nav class="main clearfix showload">
	<input type='checkbox' id='mainnav' class='trig' />
	<ul class="clearfix">
		<li><a href="/">Home</a></li>
		<li><a href="/new">New</a></li>
		<li><a href="/drafts">Drafts</a></li>
		<li><a href="/pending">Pending</a></li>
		<li class='active'><a href="/manage">Settings</a></li>
		<li><a href="/logout">Logout</a></li>
	</ul>
	<label for='mainnav' id='pull'>{page_title}</label>
</nav>
<article>
<main>
	<div class='container w'>
		<form class='pkg' action='/settings' method='post'>
			<input type='radio' name='tab' class='trig' id='opmain' checked />
			<div class='moon'>
				<p><input type='text' name='title' placeholder='Blog title' value='{site_title}' required /></p>
				<p><textarea name='tagline' rows='2' cols='60' placeholder='Tagline' class='abs' required>{site_tagline}</textarea></p>
				<p><input type='number' name='posts' placeholder='Posts per page' min='1' max='100' value='{site_posts}' class='sm' required /> <label for='posts'>Posts per page</label></p>
				<p><input type='text' name='datetime' placeholder='Date time' value='{site_date}' class='sm' required /> <label for='dateformat'>Date and time format</label> <a href='https://secure.php.net/manual/en/function.date.php'>(?)</a></p>
				<p><input type='text' name='timezone' placeholder='Timezone' value='{site_timezone}' class='sm' required /> <label for='timezone'>Timezone</label> <a href='https://secure.php.net/manual/en/timezones.php'>(?)</a></p>
				<p><label class='select'>
				<select name='uploads'>
					<option value='1' {site_upyes}>Enable file uploading</option>
					<option value='0' {site_upno}>Disable file uploading</option>
				</select></label>
				</p>
				<p><label for='copyright'>Copyright or Footer text</label> 
				<textarea name='copyright' class='abs' rows='2' 
					id='copyright' cols='60' placeholder='Copyright (c)'>{site_copyright}</textarea>
				<p><input type='submit' value='Save settings' /></p>
			</div>
			<input type='hidden' name='csrf' value='{csrf_settings}' />
		</form>
		
		<form class='pkg' action='/changepass' method='post'>
			<input type='radio' name='tab' class='trig' id='oppass' />
			<div class='moon'>
			<p><input type='password' name='oldpassword' placeholder='old password' required /> 
			<input type='password' name='newpassword' placeholder='new password' required /></p>
			<p><input type='submit' value='Change password' /></p>
			</div>
			<input type='hidden' name='csrf' value='{csrf_pass}' />
		</form>
		<div class='showload sm'>	
			<label class='opt' for='opmain'>settings</label>
			<label class='opt' for='oppass'>password</label>
		</div>
		</div>
	</div>

</main>
</article>
<footer>
	{copyright}
</footer>
</body>
</html>
