<!DOCTYPE html>
<html xmlns='http://www.w3.org/1999/xhtml' dir='ltr'>
<head>
<meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
<meta name='viewport' content='width=device-width' />
<link rel='stylesheet' href='{theme}style.css' />
<title>{page_title}</title>
</head>
<body>
<header>
	<h1><a href='/'>{page_title}</a></h1>
	<p>{tagline}</p>
</header>

{page_body}
<div class='block'>
<nav class='nextprev'>
	<ul>{navpages}</ul>
</nav>
</div>
<footer>
	<nav><a href='/'>Home</a> | <a href='/manage'>Manage</a></nav>
	{copyright}
</footer>
</body>
</html>
